
.o-list-header{
	margin-top: 5px !important;
}
.list-total {
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 10px 10px 10px 10px; /* improve alignment */
	line-height:18px;
}
.list-total > span {
	margin: 4px 2px;
	padding: 2px 5px;
	border-radius: 4px;
	font-weight: 500;
}
/* .list-total > span.curly-points {
}
.list-total > span.square-points {
	font-weight: 500;
}
.list-total > span.regular-points {
	font-weight: 500;
}
.list-total > span.card-count {
	font-weight: 500;
} */
.list-total > span:empty {
	color:inherit;
	margin: 0;
	padding:0;
	border-radius: 0;
}

.list .list-title h2 {
	float: none !important;
	display: inline !important;
	margin-right: 0 !important;
	vertical-align: -4px;
}

.manual .window-main-col p, .window-main-col h2 {
	display: block !important;
}

/* Collapse Settings button text on smaller viewports */
@media only screen and (max-width: 1540px) {
	.s4t-text {
		display: none;
	}
}


.badge-points {
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
    margin: 0 !important;
	padding: 4px 6px 0 3px !important;
    height: 18px;
	display: flex !important;
	flex-wrap: wrap;
    align-content: unset;
	gap:3px;
}
.badge-points:empty {
	display: none !important;
}
.badge-points .o-badge-icon{
	margin:0;
	mask-size: cover;
	width: 14px;
	height: 14px;
}
.badge-points .o-badge-text{
	margin:0;
	position: relative;
	top: -2px;
}
/* colors */
.curly-points {
	color: black !important;
	background-color: rgb(177, 172, 211)  !important;
}
.square-points{
	color: black !important;
	background-color: rgb(108, 227, 185) !important;
}
.regular-points{
	color: black !important;
	background-color: rgb(202, 175, 108)  !important;
}
.card-count{
	color: white !important;
	background-color: rgb(51, 51, 51) !important;
}
.curly-points .o-badge-icon{
	background-color: black !important;
}
.square-points .o-badge-icon{
	background-color: black !important;
}
.regular-points .o-badge-icon{
	background-color: black !important;
}

.badge:empty{ display:none !important; }





/* == b4t integration==*/
#burndownLink .icon-sm{
    padding:6px;
    margin-top:1px;
}
/* == end b4t integration == */

h4.heading {color: red;}
