
.o-list-header{
	margin-top: 5px !important;
	padding-left: 10px;
	padding-right: 10px;
}
.o-list-total-wrapper{
	border: 1px solid var(--ds-background-inverse-subtle);
    border-radius: 5px;
}
.list-total {
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 6px 4px 10px 0; /* improve alignment */
	line-height:18px;
}

.list-total > span {
	margin: 4px 2px;
	padding: 2px 5px;
	border-radius: 4px;
	font-weight: 500;
}

.list-total > span:empty {
	color:inherit;
	margin: 0;
	padding:0;
	border-radius: 0;
}

.list .list-title h2 {
	float: none !important;
	display: inline !important;
	margin-right: 0 !important;
	vertical-align: -4px;
}


/* Collapse Settings button text on smaller viewports */
@media only screen and (max-width: 1540px) {
	.s4t-text {
		display: none;
	}
}


.badge-points {
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
    margin: 0 !important;
	padding: 4px 6px 0 3px !important;
    height: 18px;
	display: flex !important;
	flex-wrap: wrap;
    align-content: unset;
	gap:3px;
}
.badge-points:empty {
	display: none !important;
}
.badge-points .o-badge-icon{
	margin:0;
	mask-size: cover;
	width: 14px;
	height: 14px;
}
.badge-points .o-badge-text{
	margin:0;
	position: relative;
	top: -2px;
}
/* colors */
.curly-points {
	color: black !important;
	background-color: rgb(177, 172, 211)  !important;
}
.square-points{
	color: black !important;
	background-color: rgb(108, 227, 185) !important;
}
.regular-points{
	color: black !important;
	background-color: rgb(202, 175, 108)  !important;
}
.card-count{
	color: white !important;
	background-color: rgb(51, 51, 51) !important;
}
.curly-points .o-badge-icon{
	background-color: black !important;
}
.square-points .o-badge-icon{
	background-color: black !important;
}
.regular-points .o-badge-icon{
	background-color: black !important;
}

.badge:empty{ display:none !important; }



/* The Modal (background) */
.o-summary{
	display:flex;
	flex-direction: column;
	gap: 10px;
}
.o-summary-item{
	width: 120px;
	font-weight:normal;
	color: black;
}

.o-summary-row{
	display:flex;
	gap: 15px;
}

.o-summary-header-row{	
	border-bottom: 1px solid #ccc;
}
.o-summary-header-item-empty{
	width: 30px;
}
.o-summary-header-item{
	font-weight:500;
}

.o-summary-footer-row{	
	border-top: 1px solid #ccc;
}
.o-summary-footer-item-empty{
	font-weight:500;
	width: 30px;
}
.o-summary-footer-item{
	font-weight:500;
	letter-spacing: 0.6px;

}

.o-summary-item-row:hover{
	background-color: #f9f9f9;
}
.o-summary-row-item-color{
	width: 30px;
	height: 20px;
	border-radius: 5px;
}
.o-button{
	padding:8px !important;
	margin:0 !important;
	display: inherit !important;
}
.o-button-icon{
	width: 14px;
	height: 14px;
	background-color: white;
	display: flex;
	mask-size: 14px;
}
.o-header{
	display:flex;
	gap: 8px;
}
.o-header-icon{
	display: flex;
	background-color: black;
    width: 18px;
    height: 18px;
    mask-size: 18px;
    margin-top: 5px;
}



.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 630px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-button{
	padding:8px !important;
	margin:0 !important;
	display: inherit !important;
}
.modal-button:hover,
.modal-button:focus{
	filter: brightness(.7);
}
/* The Close Button */
.close {
	color: black;
	font-size: 28px;
	font-weight: bold;
	background-color: gainsboro;
    border-radius: 4px;
    display: inline-flex;
    width: 27px;
    height: 27px;
    justify-content: center;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: brightness(.7);
}

.modal-header {
	padding: 6px 16px;
	background-color: gainsboro;
	color: black;
	display: flex;
	justify-content: space-between;
}

.modal-body {
	padding: 2px 16px;
	margin:10px;
}
.modal-footer{
	margin: 8px;
    display: flex;
    justify-content: end;
}
 

h4.heading {color: red;}
